@using ayniyatv1.Data;
@using System.ComponentModel.DataAnnotations;
@model Personel;

@{
    ViewData["Title"] = "Personel Sil";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1 class="text-center">@Model.Adi @Model.Soyadi için Personel Silme Onayı</h1>
            <h3 class="text-center">@Model.Birimi @Model.Gorevi</h3>
            <img src="@Model.Foto" class="border-info rounded-circle mx-auto d-block py-2" style="max-height: 100px" id="FotoOngoruntuleme" />
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">

                <div class="form-group text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px" id="FotoOngoruntuleme" />
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input asp-for="Foto" class="form-control" placeholder="Lütfen Personele Ait Fotoğraf Ekleyiniz..." readonly />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Adi" class="control-label"></label>
                    <input asp-for="Adi" class="form-control" placeholder="Lütfen Personele Ait Ad Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Adi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Soyadi" class="control-label"></label>
                    <input asp-for="Soyadi" class="form-control" placeholder="Lütfen Personele Ait Soyad Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Soyadi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Birimi" class="control-label"></label>
                    <input asp-for="Birimi" class="form-control" placeholder="Lütfen Personele Ait Birim Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Birimi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gorevi" class="control-label"></label>
                    <input asp-for="Gorevi" class="form-control" placeholder="Lütfen Personele Ait Görev Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Gorevi" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefon" class="control-label"></label>
                    <input asp-for="Telefon" class="form-control" placeholder="Lütfen Personele Ait Telefon Numarası Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dahili" class="control-label"></label>
                    <input asp-for="Dahili" class="form-control" placeholder="Lütfen Personele Ait Dahili Telefon Bilgisi Ekleyiniz..." readonly />
                    <span asp-validation-for="Dahili" class="text-danger"></span>
                </div>
                <div class="text-muted text-center py-2">
                    <h5>Personele Ait Ürün Listesi</h5>
                </div>



                <div class="form-group py-2">

                    <a class="btn btn-outline-secondary" asp-action="Index">Hepsini Görüntüle</a>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Onayla" class="btn btn-danger float-end" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('FotoOngoruntuleme');
            output.src = $("#Foto").val();
            //1._>
            $.ajax({
                url: '@Url.Action("GetirPersonelListe","Personel")',
                method: 'GET',
                success: function (data) {
                    //$('#PersonelId').html('');
                    $.each(data, function (key, value) {
                        $('#PersonelId').append('<option value="' + value.id + '">' + value.adi + ' ' + value.soyadi + '</option>');
                    });
                }

            });
        });
        $('#PersonelId').on('input', function () {

            var val = $(this).val();
            if (val.length > 2) {
                $.ajax({
                    url: '@Url.Action("GetirPersonel","Personel")?adSoyad=' + val,
                    method: 'GET',
                    success: function (data) {
                        $('#persData').html('');
                        $('#secPers').html('');

                        $.each(data, function (key, value) {
                            $('#persData').append('<div onclick="sec(' + value.id + ',\'' + value.adi + ' ' + value.soyadi + '\')" style="border-bottom: 1px solid;">' + value.adi + ' ' + value.soyadi + '</div>');
                        });
                    }
                });
            }

        });
        function sec(id, adsoyad) {
            $('#secPers').html(adsoyad);
            $('#persSetId').val(id);
            $('#persData').html('');
            $('#PersonelId').val('');
        }
        $("#Foto").on("change", function () {
            var output = document.getElementById('FotoOngoruntuleme');
            output.src = $(this).val();

    </script>
    }