@using ayniyatv1.Data;
@model IEnumerable<Urun>

@{
    ViewData["Title"] = "Ürünler";
}

<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Foto)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Marka)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Model)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.SeriNumarasi)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.UrunKategori)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.PersonelId)</th>
                    <th class="text-center">DÜZENLE</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img class="rounded mx-auto d-block" src="@(item.Foto?? "https://www.unternehmerfrauen-bayern.de/wp-content/uploads/2018/10/Platzhalter.png")" alt="@item.Marka" style="max-height: 70px">
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Marka)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Model)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.SeriNumarasi)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.UrunKategori)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Personel.Adi)
                        </td>
                        <td class="align-middle text-center">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Düzenle</a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Detay</a> |
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div style="position: fixed; right:15px; bottom: 75px;" class="text-white">
    
            <a asp-controller="Urun" asp-action="Create" class="btn btn-success px-1"><i class="bi bi-plus-circle px-1"></i>Ürün Ekle</a>
        
</div>